* {
  margin: 0;
  padding: 0;
}

// file scss
$f-poppins: "Poppins", sans-serif;
$f-kanit: "Kanit", sans-serif;
$color-01: #0a002c;
$color-02: #ffffff;
$font-28: 28px;
$font-18: 18px;

body {
  font-family: $f-poppins;
  background-color: #cfcfcf;
  // overflow untuk menyembynikan apa bila ada yg offside
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: $color-02;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  .logo {
    font-size: $font-28;
    color: $color-01;
    font-family: $f-kanit;
    font-weight: normal;
    padding: 2px 0;
    width: 300px;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-transform: capitalize;
    padding: 15px 0;
    li {
      list-style: none;
    }
    a {
      color: $color-01;
      list-style: none;
      text-decoration: none;
      &:hover {
        content: "";
        display: block;
        border-bottom: 3px solid;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-radius: 1.5px;
      }
    }
  }

  .menuTogle {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      border-radius: 5px;
      height: 2.5px;
      background-color: $color-01;
      transition: 0.2s;
      transform: translateY(-10px);
      box-shadow: 0 10px 0 $color-01;
    }

    &::after {
      content: "";
      position: absolute;
      width: 28px;
      border-radius: 5px;
      height: 2.5px;
      background-color: $color-01;
      transition: 0.2s;
      transform: translateY(10px);
    }
  }
  .menuTogle.active {
    &::before {
      transform: translateY(0) rotate(45deg);
      box-shadow: 0 0 0 $color-01;
    }
    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

// Tablet
@media screen and (max-width: 1000px) {
}

// Smartphone
@media screen and (max-width: 670px) {
  nav {
    ul {
      position: absolute;
      width: 100%;
      right: 0;
      top: 3vh;
      justify-content: space-evenly;
      align-items: center;
      height: 50vh;
      flex-direction: column;
      background-color: #f0f0f0;
      z-index: -2;
      transform: translate(0, -100%);
      transition: all 0.5s;
      li {
        padding: 15px 46%;
        height: 30px;
        &:hover {
          background-color: #88e0e0;
          color: $color-02;
        }
        a {
          &:hover {
            color: $color-02;
            display: none;
          }
        }
      }
    }
    ul.active {
      transform: translateX(0);
    }
    .logo {
      width: 300px;
      margin-top: 10px;
      font-size: 20px;
    }
    .menuTogle {
      display: flex;
    }
  }
}
